# Compiler files
cache/
out/

# Ignores development broadcast logs
!/foundry-contracts/broadcast
/foundry-contracts/broadcast/*/31337/
/foundry-contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
