# Compiler files
cache/
out/

# Ignores development broadcast logs
!/foundry-contracts/broadcast
/foundry-contracts/broadcast/*/*/dry-run/*.json
/foundry-contracts/broadcast/*/*/run-[0-9]*.json

# Docs
docs/

# Dotenv file
.env
